html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  padding: 30px;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.cell {
  width: 20px;
  height: 20px;
  background-color: aliceblue;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 3s linear infinite;
}

h1 {
  text-align: center;
  padding-top: 100px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

table {
  min-width: 1127px;
  border: 1px solid;
  border-collapse: collapse;
  margin: 30px;
}

@media screen and (min-width: 1127px) {
    table{
        margin: 30px auto;
    }
}

table tr td,
th {
  width: 30px;
  height: 30px;
  border: 1px solid;
}

.doneIcon {
  display: block;
  text-align: center;
}

.title {
  width: 200px;
}

.titleInput{
  display: inline-block;
  width: 120px;
}

.titleSubmit{
  display: inline-block;
  width: 50px;
}

.bugReport{
  text-align: center;
}